$text-font: Arial, Helvetica, sans-serif;
$color-form-border: #EEEEEE;
$color-text-header: white;
$color-header-back: black;
$color-nth-row: $color-form-border;
$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;